main {
  scroll-behavior: smooth;
  
}
body{
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

  }

.wrapper {
  height: 95vh;
  gap: 20rem;
  background: '';
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}




.container {
  display: grid;
  grid-template-areas:
    "a b c c"
    "d e c c"
    "f g h i"
    "j j k l"
    "j j m n";

  grid-gap: 25px;
  padding: 25px;
  margin-top: 60px;
  background: white;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.05);
  will-change: scroll scale, width, height;
  transition: ease-in-out;
  z-index: 0;
}

.btn {
  border: none;
  opacity: 0;
  transition: opacity 500ms ease-in-out;
  position: relative;
}

.btn:hover {
  cursor: pointer;
}

.open {
  opacity: 1;
}

.item:nth-of-type(1) {
  grid-area: a;
}
.item:nth-of-type(2) {
  grid-area: b;
}
.item:nth-of-type(3) {
  grid-area: c;
}
.item:nth-of-type(4) {
  grid-area: d;
}
.item:nth-of-type(5) {
  grid-area: e;
}
.item:nth-of-type(6) {
  grid-area: f;
}
.item:nth-of-type(7) {
  grid-area: g;
}
.item:nth-of-type(8) {
  grid-area: h;
}
.item:nth-of-type(9) {
  grid-area: i;
}
.item:nth-of-type(10) {
  grid-area: j;
}
.item:nth-of-type(11) {
  grid-area: k;
}

.item {
  background: white;
  border-radius: 5px;
  will-change: transform, opacity;
  transition: 120ms ease-out;
  padding: 20px;
  
}

.item:hover {
  scale: 1.025;
  z-index: 99;
  transition: 200ms ease-in;
}

.item:active {
  scale: 0.99;
}

.flower {
  display: flex;
  position: fixed;
  bottom: 0;
  right: calc(-20px);
  margin-bottom: 40px;
}
.flower2 {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  margin-bottom: 40px;
}

.title-wrap {
  display: flex;
  z-index: 99;
  position: fixed;
  top: 0
  
  
}

.title {
  display: flex;
  margin-top: -10px;
  font-weight: 200;
  font-size: calc(34px);
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  padding-inline: 50px;
  padding: 20px;
  gap: 0.78rem;
  z-index: 99;
  will-change: pathLength;
}

.snap-type{
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  transition: 2000ms ease-in-out;
  will-change: scroll-position;
}
.snap-align{
  scroll-snap-align: center;
}

.height{
  height: 100vh
}

.date{
  display: flex;
  font-size: calc(45px);
  color: black;
  margin-left: 100px;
  position: absolute;
  top: 0px;
  left: 0;
  right:0;
  bottom: 0; 
  justify-content: center;
  align-items: center;
  
  
}

.berlin{
  display: flex;
 height: 99vh;
  width: 99vw;
  position: relative;
  margin-top: 20px;
  margin-bottom: -200px;


}


.text{
  display: flex;
  position: relative;
  height: 50vh;
  width: 50vw;
  z-index: 0;
  margin-top: 50px;
  margin-bottom: -700px;
  letter-spacing: 5px;
  word-spacing: 4px;
  padding-left: 70px
  
}
.text-h1{
  display: flex;
  position: relative;
  height: 50vh;
  width: 50vw;
  z-index: 0;
  margin-top: 90px;
  margin-bottom: -420px;
  letter-spacing: 5px;
  word-spacing: 4px;
  padding-left: 70px;
  font-size: calc(35px);
  font-weight: 900;
  
}



@media screen and (max-width: 750px){

  .title-wrap {
    display: flex;
    z-index: 99;
    position: fixed;
    top: 0
    
    
  }
  
  .title {
    display: flex;
    margin-top: -10px;
    font-weight: 200;
    font-size: calc(12px);
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    padding-inline: 50px;
    padding: 20px;
    gap: 0.78rem;
    z-index: 99;
    will-change: pathLength;
  }
  .container {
    display: grid;
    grid-template-areas:
      "a a b b"
      "c d b b"
      "e f g h"
      "i i j k"
      "i i l k";
  
    grid-gap: 25px;
    padding: 25px;
    margin-top: 60px;
    background: white;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.05);
    will-change: scroll scale, width, height;
    transition: ease-in-out;

  }
  .text{
    display: flex;
    position: relative;
    height: 50vh;
    width: 60vw;
    z-index: 0;
    margin-top: 50px;
    margin-bottom: -600px;
    letter-spacing: 5px;
    word-spacing: 4px;
    padding-left: 70px;
    font-size: calc(12px);
    
  }
  .text-h1{
    display: flex;
    position: relative;
    height: 50vh;
    width: 50vw;
    z-index: 0;
    margin-top: 90px;
    margin-bottom: -450px;
    letter-spacing: 5px;
    word-spacing: 4px;
    padding-left: 70px;
    font-size: calc(25px);
    font-weight: 900;
    
  }
  
}