main {
  scroll-behavior: smooth;
  scrollbar-width: 0px;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

  background-color: white;
}

.wrapper {
  height: 95vh;
  width: 95vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper2 {
  height: 95vh;
  width: 95vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.container {
  display: grid;
  grid-template-areas:
    "a b c c"
    "d e c c"
    "f g h i"
    "j j k l"
    "j j m n";
  grid-gap: 5px;
  padding: 5px;
  margin-top: 60px;
  background: white;
  border-radius: 20px;
  will-change: width, height;
  background-image: url("/Cool2.jpg");
  background-position: center;
  background-size: cover;
}

.container2 {
  height: 40vh;
  width: 40vw;
  position: relative;
  margin-top: 60px;
  border-radius: 20px;
  margin-left: -150px;
  will-change: width, height;
  background-image: url("/Hero.jpg");
  background-position: center;
  background-size: cover;
}
.container-II {
  display: grid;
  grid-template-areas:
    "a b c c"
    "d e c c"
    "f g h i"
    "j j k l"
    "j j m n";
  grid-gap: 5px;
  padding: 5px;
  margin-top: 60px;
  background: white;
  border-radius: 20px;
  will-change: width, height;
  background-image: url("/Cool.jpg");
  background-position: center;
  background-size: cover;
}

.item:nth-of-type(1) {
  grid-area: a;
}
.item:nth-of-type(2) {
  grid-area: b;
}
.item:nth-of-type(3) {
  grid-area: c;
}
.item:nth-of-type(4) {
  grid-area: d;
}
.item:nth-of-type(5) {
  grid-area: e;
}
.item:nth-of-type(6) {
  grid-area: f;
}
.item:nth-of-type(7) {
  grid-area: g;
}
.item:nth-of-type(8) {
  grid-area: h;
}
.item:nth-of-type(9) {
  grid-area: i;
}
.item:nth-of-type(10) {
  grid-area: j;
}
.item:nth-of-type(11) {
  grid-area: k;
}

.item {
  background: white;
  border-radius: 5px;
  will-change: transform, opacity;
  transition: 120ms ease-out;
  padding: 20px;
}

.item:hover {
  scale: 1.025;
  z-index: 99;
  transition: 200ms ease-in;
}

.item:active {
  scale: 0.99;
}

.flower {
  display: flex;
  position: fixed;
  bottom: 0;
  right: calc(-20px);
  margin-bottom: 40px;
}

.title-wrap {
  display: flex;
  z-index: 99;
  position: fixed;
  top: 0;
}

.title {
  display: flex;
  margin-top: -10px;
  font-weight: 200;
  font-size: calc(34px);
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  padding-inline: 50px;
  padding: 20px;
  gap: 0.78rem;
  z-index: 99;
}

.berlin {
  display: flex;
  width: 60vw;
  height: 95vh;
  margin-top: 90px;
  margin-left: -200px;
}
.berlin-flex {
  display: flex;
  position: relative;
  margin-bottom: -200px;
}

.text {
  display: flex;
  position: relative;
  height: 50vh;
  width: 50vw;
  z-index: 0;
  margin-top: 50px;
  margin-bottom: -700px;
  letter-spacing: 5px;
  word-spacing: 4px;
  padding-left: 70px;
}
.text-h1 {
  display: flex;
  position: relative;
  height: 50vh;
  width: 50vw;
  z-index: 0;
  margin-top: 90px;
  margin-bottom: -420px;
  letter-spacing: 5px;
  word-spacing: 4px;
  padding-left: 70px;
  font-size: calc(35px);
  font-weight: 900;
}
.heading {
  display: flex;
  position: relative;
  overflow-y: hidden;
  font-size: calc(45px);
  background-color: white;
}
.h1 {
  display: flex;
  height: 45px;
  overflow-y: hidden;
}

@media screen and (max-width: 750px) {
  .berlin-flex {
    flex-direction: column;
  }
  .berlin {
    display: flex;
    position: relative;
    width: 95vw;
    margin-left: 15px;
  }

  .title {
    font-size: calc(12px);
  }

  .container {
    grid-gap: 25px;
    padding: 25px;
    will-change: width, height;
  }

  .text {
    font-size: calc(12px);
  }

  .text-h1 {
    margin-bottom: -450px;
    font-size: calc(25px);
  }

  .heading {
    font-size: calc(25px);
  }
  .h1 {
    height: calc(25px);
  }
  @media screen and (max-height: 860px) {
    .text {
      margin-top: 170px;
    }

    .berlin {
      margin-top: 220px;
    }
  }
}
