main {
  scroll-behavior: smooth;
  
}
body{
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

  }

.wrapper {
  height: 95vh;
  gap: 20rem;
  background: '';
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}




.container {
  display: grid;
  grid-template-areas:
    "a a b b"
    "c d b b"
    "e f g h"
    "i i j k"
    "i i l k";

  grid-gap: 25px;
  padding: 25px;
  margin-top: 70px;
  background: white;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.05);
  will-change: scroll scale, width, height;
  transition: ease-in-out;
}

.btn {
  border: none;
  opacity: 0;
  transition: opacity 500ms ease-in-out;
  position: relative;
}

.btn:hover {
  cursor: pointer;
}

.open {
  opacity: 1;
}

.item:nth-of-type(1) {
  grid-area: a;
}
.item:nth-of-type(2) {
  grid-area: b;
}
.item:nth-of-type(3) {
  grid-area: c;
}
.item:nth-of-type(4) {
  grid-area: d;
}
.item:nth-of-type(5) {
  grid-area: e;
}
.item:nth-of-type(6) {
  grid-area: f;
}
.item:nth-of-type(7) {
  grid-area: g;
}
.item:nth-of-type(8) {
  grid-area: h;
}
.item:nth-of-type(9) {
  grid-area: i;
}
.item:nth-of-type(10) {
  grid-area: j;
}
.item:nth-of-type(11) {
  grid-area: k;
}

.item {
  background: white;
  border-radius: 5px;
  will-change: transform, opacity;
  transition: 120ms ease-out;
  padding: 20px;
}

.item:hover {
  scale: 1.025;
  z-index: 99;
  transition: 200ms ease-in;
}

.item:active {
  scale: 0.99;
}

.flower {
  display: flex;
  position: fixed;
  bottom: 0;
  right: calc(-20px);
  margin-bottom: 40px;
}
.flower2 {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  margin-bottom: 40px;
}

.title-wrap {
  display: flex;
  z-index: 99;
  position: fixed;
  top: 0
  
  
}

.title {
  display: flex;
  margin-top: -10px;
  font-weight: 900;
  font-size: calc(14px);
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  padding-inline: 50px;
  padding: 20px;
  gap: 0.78rem;
  z-index: 99;
  will-change: pathLength;
}

